body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #272727;
    background-color: #eeeeee;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: #555555;
}


ul#lint {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 10px 15px  #131313;
    z-index: 999;
}

li#lint {
    color: #272727;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 6px;
}


ul {
    list-style-type: none;
    margin: 24px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
  
li {
    float: left;
}

li a {
    display: block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 2.5vw;
}

li a:hover {
    animation-name: background-color;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
        background-color: #111
    }
}

th, td {
    padding-left: 15px;
    text-align: left;
}

img#pic01 {
    margin: 180px 15vw 20px 20px;
    float: right;
    opacity: 0.4;
    width: 20vw;
    z-index: -50;
}

img#pic02 {
    margin: 180px 3px 20px 10px;
    float: left;
    opacity: 1;
    width: 300px;
}

img#pic03 {
    margin: 180px 10px 20px 3px;
    float: left;
    opacity: 1;
    width: 300px;
}
div#divhome {
    width: 50vw;
    padding-left: 20px; 
    margin: 150px 0px; 
    float:left;
}

div#profile {
    width: 50vw;
    padding-left: 20px; 
    margin: 150px 0px; 
    float:left;
}

div#portfolio {
    padding-left: 20px; 
    margin: 200px 0px; 
    float: left;
    font-size: 20px;
}

div#faq {
    padding-left: 20px; 
    margin: 171px 0px 80px 0px;
    width: 50vw;
}

div#stg {
    padding-left: 20px; 
    margin: 171px 0px 20px 0px;
    width: 50vw;
}

table#stpr {
    width: 80vw;
    margin: 20px 20px 50px 20px;
    border-collapse: collapse;
}

#stpr th {
    text-align: left;
    padding: 10px;
    border: 1px solid #b1b1b1;
    color: white;
    background-color: #b1b1b1;
}

#stpr tr, #stpr td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #b1b1b1;
}

table#personality {
    width: 80vw;
    margin: 20px 20px 50px 20px;
    border-collapse: collapse;
}

#personality th {
    text-align: left;
    padding: 10px;
    border: 1px solid #b1b1b1;
    color: white;
    background-color: #b1b1b1;
}

#personality tr, #personality td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #b1b1b1;
}

h2#stg {
    margin: 20px;
}

div#links {
    padding-left: 20px; 
    margin: 20px 0px 50px 0px;
    width: 50vw;
}

::-webkit-scrollbar-track {
    color: #eeeeee; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #b1b1b1; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}

::-webkit-scrollbar {
    width: 20px;
}

div#bars {
    box-sizing: border-box;
    width: 80vw;
    padding-bottom: 20px;
}

.container {
    box-sizing:border-box;
    width: 100%;
    background-color: #b1b1b1;
    margin:20px 50px 20px 20px;
}

.Q {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.Q1 {
    width: 0%;
     background-color: lightgreen;
} /* %=(ec/15)*100     (total=15) */

.Q2 {
    width: 0%; 
    background-color: lightgreen;
} /* %=(ec/12.5)*100     (total=12.5) */

.Q3 {
    width: 0%; 
    background-color: lightgreen;
} /* %=(ec/15)*100     (total=15) */

.Q4 {
    width: 0%; 
    background-color: lightgreen;
} /* %=(ec/12.5)*100     (total=12.5) */

.extra {
    width: 0%; 
    background-color: lightgreen;
} /* %=(ec/5)*100     (total=5) */

.containert {
    box-sizing:border-box;
    width: 100%;
    background: repeating-linear-gradient(
        90deg,
        rgb(238, 144, 144) 0vw,
        rgb(238, 144, 144) 60vw,
        #b1b1b1 60vw,
        #b1b1b1 80vw
      );
    margin:20px 50px 20px 20px;
}

.total {
    width: 0%; 
    background-color: lightgreen;
} /* %=(ec/60)*100     (total=60) */

#textQ {
    margin-left: 20px;
}

.profession {
    display: grid;
    Margin: -320px 100px 100px 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 3;
  
        box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
        border-radius: 16px;
    }
    .div2 { grid-area: 2 / 3 / 3 / 4;
  
        box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
        border-radius: 16px;
    }
    .div3 { grid-area: 3 / 2 / 4 / 3;
     
        box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
        border-radius: 16px;
    }
    .div4 { grid-area: 3 / 3 / 4 / 4;
 
        box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
        border-radius: 16px;
    }
    .div5 { grid-area: 4 / 2 / 5 / 3;

        box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
        border-radius: 16px;
    }

    #job {
        padding-left: 10px;
        padding-bottom: 10px;
    }

#jobpic{
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}