body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #272727;
    background-color: #eeeeee;
    margin: 0px;
    padding: 0px;
}

h4{
    color: #555555;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 2.5vw;
}

li a:hover {
    background-color: #111;
}

th, td {
    padding-left: 15px;
    text-align: left;
  }

#pic01{
    padding:180px 300px 20px 20px;
    float: right;
}

footer{
    text-align: center;
    background-color: #c5c5c5;
    color: #111;
    padding: 20px;
}
